.footer {
display: flex;
justify-content: space-around;
height: 250px;
width: 1900px;
background-color: #228B22;
position: absolute;
margin-top: 2200px;
}

.col-2 {
display: block;
position: relative;
min-height: 1px;
float: left;
width: 20%;
}

.f2 {
color: white;
margin-top: 30px;
font-size: 14px;
}


.f3 div {
font-size: 25px;
margin-top: 35px;
margin-left: 80px;

}

.footer a {
text-decoration: none;
color: white;
}

.f4 {
margin: 100px auto;
height: 50px;
width: 150px;
background-color: #5eaf4d;
border-radius: 10px;
font-size: 22px;
text-align: center;
line-height: 50px;
}

.footer a:hover {
color: yellow;
}

#EPA {
	height:150px;
	margin:35px 0 0 20px;
}

#GW {
	height:130px;
	margin:40px 0 0 40px;
}

