.container {
display: block;
max-width: 1080px;
margin: 0 auto;
}
.fl {
float: left;
}

.fr {
float: right;
}

.clearf:after,
.clearf:before {
content: "";
display: block;
clear: both;
}

.top-nav a {
height: 80px;
line-height: 80px;
text-decoration: none;
color: black;
font-size: 20px;
}

.top-nav a:hover {
color: royalblue;
}

#img {
height: 80px;
}

#pqgw {
	margin-left: 60px;
}