*, ::before, ::after{
box-sizing: border-box;
margin: 0;
-ms-user-select: none;
}

body{
background: url('../img/inscription.jpg') no-repeat;
background-size: cover;
background-attachment: fixed;
}

.Inscription{
position: absolute;
top: 50%;
margin-top: -350px;
left: 50%;
margin-left: -200px;
background-color: rgba(0,0,0,0.3);
width: 400px;
height: 600px;
border-radius: 25px;
text-align: center;
}

p{
font-size: 42px;
font-weight: 600;
padding: 5px 40px;
margin-top: 30px;
margin-bottom: 30px;
}
input{
background-color: whitesmoke;
width: 80%;
height: 48px;
margin-bottom: 10px;
border: none;
border-bottom: 2px solid silver;
outline: none;
font-size: 22px;
}
.btn{
background-color: seagreen;
width: 70%;
height: 48px;
border-radius: 8px;
margin-top: 40px;
font-size: 28px;
font-weight: 600;
color: white;
border-style: none;
}
.btn:hover{
background-color: #008000;
}
.entrer:hover{
background-color: gainsboro;
}
.Inscription a:hover{
color: yellow!important;
}

#compte {
color: white;
text-decoration: none;
}