* {
	margin: 0;
	-ms-user-select: none;
}

body {
	background: url(../img/Connexion%20BG.jpg) no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.container {
	display: block;
	max-width: 1080px;
	margin: 0 auto;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.clearf:after,
.clearf:before {
	content: "";
	display: block;
	clear: both;
}

.col-2,
	{
	display: block;
	position: relative;
	min-height: 1px;
	float: left;
}

.col-2 {
	width: 20%;
}

@media screen and (min-width:1280px) {



	.Connexion {
		position: relative;
		margin: 10% auto;
		background-color: rgba(0, 0, 0, 0.15);
		width: 40%;
		height: 400px;
		border-radius: 25px;
		text-align: center;
	}

	.Connexion p {
		font-size: 42px;
		font-weight: 600;
		padding: 5px 40px;
		box-sizing: border-box;
		margin: 30px auto;
	}

	input {
		background-color: whitesmoke;
		width: 80%;
		height: 48px;
		margin-bottom: 10px;
		border: none;
		border-bottom: 2px solid silver;
		outline: none;
		font-size: 22px;
	}

	.btn {
		background-color: seagreen;
		width: 70%;
		height: 48px;
		border-radius: 8px;
		font-size: 28px;
		font-weight: 600;
		margin: 20px 15%;
		position: relative;
		color: white;
		border-style: none;
	}

	.btn:hover {
		background-color: #008000;
	}

	.entrer:hover {
		background-color: gainsboro;
	}

	.Connexion a:hover {
		color: #4169E1 !important;
	}

	.footer {
		bottom: 0;
	}
}


@media screen and (max-width:1279px) {



	.Connexion {
		position: relative;
		margin: 10% auto;
		background-color: rgba(0, 0, 0, 0.15);
		width: 80%;
		height: 400px;
		border-radius: 25px;
		text-align: center;
	}

	.Connexion a {
		margin: 20px 0;
	}

	.Connexion p {
		font-size: 42px;
		font-weight: 600;
		padding: 5px 40px;
		box-sizing: border-box;
		margin-top: 30px;
		margin-bottom: 30px;
	}

	input {
		background-color: whitesmoke;
		width: 80%;
		height: 48px;
		margin-bottom: 10px;
		border: none;
		border-bottom: 2px solid silver;
		outline: none;
		font-size: 22px;
	}

	.btn {
		background-color: seagreen;
		width: 70%;
		height: 48px;
		border-radius: 8px;
		font-size: 28px;
		font-weight: 600;
		color: white;
		border-style: none;
	}

	.btn:hover {
		background-color: #008000;
	}

	.entrer:hover {
		background-color: gainsboro;
	}

	.Connexion a:hover {
		color: #4169E1 !important;
	}



}
